<nav class="f-menu" role="navigation"  >




	<div class="f-controls">
		<div class="f-icon" data-toggle-control="details" title="toggle details">
			<svg>
				<use xlink:href="#f-icon-details" />
			</svg>
		</div>
		<div class="f-icon" data-toggle-control="notes" title="toggle notes">
			<svg>
				<use xlink:href="#f-icon-notes" />
			</svg>
		</div>
		<div class="f-icon" data-toggle-control="code" title="toggle code">
			<svg>
				<use xlink:href="#f-icon-code" />
			</svg>
		</div>
	</div>



    <div class="f-search" data-f-search data-ng-app="fApp">

        <div class="f-search-container">
            <label class="f-search-label" for="f-search">Search</label>
            <input class="f-search-input" type="text" id="f-search" data-ng-model="searchModel" name="search"/>
        </div>
        <div class="f-search-results">
			<ul class="f-search-results-list">
				<li class="f-search-repeat" data-ng-repeat="item in collection | emptyifblank: searchModel | filter: searchModel | limitTo: 5">
					<a data-ng-href="[[item.url]]" data-ng-bind="item.name" target="[[item.target]]"></a>
				</li>
			</ul>
        </div>
    </div>



	<ul class="f-menu-list">
		<li>
			<a href="index.html" class="f-menu__heading">Overview</a>
		</li>
		<li>
			<a href="components.html" class="f-menu__heading">Components</a>
			<ul>
				{{#each components}}
					<li>
						<a href="components.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<a href="structures.html" class="f-menu__heading">Structures</a>
			<ul>
				{{#each structures}}
					<li>
						<a href="structures.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<a href="templates.html" class="f-menu__heading">Templates</a>
			<ul>
				{{#each templates}}
					<li>
						<a href="template-{{id}}.html" target="_blank">{{name}} <span class="f-icon"><svg><use xlink:href="#f-new-tab" /></svg></span></a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<a href="documentation.html" class="f-menu__heading">Documentation</a>
			<ul>
				{{#each documentation}}
					<li>
						<a href="documentation.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	</ul>



</nav>
